header {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 80px;

    font-family: "Rubik";
}

header > #website-title {
    margin: 0;

    color: black;
    font-size: 45px;
    text-decoration: none;
    font-weight: bold;
}

header > nav {
    text-align: right;
    margin: auto 0;
}

header > nav > a {
    margin-left: 5px;
    padding: 10px;
    border: solid black;
    border-radius: 8px;
    border-width: 2px;
    border-color: transparent;

    text-decoration: none;
    font-size: 20px;

    background-color: transparent;
    color: black;
    transition: 0.25s ease;
}

header > nav > a:hover {
    border-color: black;
}

header > nav > a.selected {
    background-color: black;
    color: white;
}