:root {
    --surface1: ;
    --surface2: ;
    --surface3: ;
    --surface4: ;
    --text1: ;
    --text2: ;
    --pop: ;

}

body {
    background-color: white;
    max-width: 1920px;
    width: 95%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 80px;
}

header > a {
    margin: 0;

    font-size: 45px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header > nav {
    text-align: right;
    margin: auto 0;
}

header > nav > a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

header > nav > a:hover {
    color: lightgrey;
}