:root {
    --surface1: ;
    --surface2: ;
    --surface3: ;
    --surface4: ;
    --text1: ;
    --text2: ;
    --pop: ;

}

html {
    overflow-y: scroll;
}

body {
    background-color: white;
    max-width: 1920px;
    width: 95%;
    margin: auto;
}